* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    background-color: black;

}

.nav {
    background-image: url(./bg.jpg);
    height: 90%;
    width: 100%;
    background-size: max(100%, 1200px);
    background-repeat: no-repeat;
    background-position: center center;

}

.n1 {
    height: 100%;
    background: #0000009b;
    width: 100%;
}



.main {
    max-width: 160vh;
    margin: auto;
    justify-content: space-between;

}

.logo img {
    height: 80px;
    width: 150px;

}


.bt {
    position: relative;
    width: 130px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    height: 40px;
    z-index: 10;




}

.nav1 {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn {

    border-radius: 0.25rem;
    position: absolute;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(103, 103, 103);
    font-size: 15px;
    font-weight: 500;
}

.btn1 {

    z-index: 1;
    padding-left: 10px;
}


.btn-red:hover {
    cursor: pointer;
}

.btn-red {

    margin-left: 25px;
    width: 80px;
    height: 35px;
    background-color: blue;
    border-radius: 0.25rem;
    border: none;
    color: white;
}



.b {
    display: flex;
    align-items: center;

}


.p1 {

    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    height: 40vh;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    font-size: 300%;
    font-weight: 1000;
    line-height: 150%;
}

.p2 {
    text-align: center;
    display: flex;
    align-items: center;
    height: 6vh;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #ffffff;
    font-size: 150%;
    font-weight: 400;
}

.p3 {
    text-align: center;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #ffffff;
    font-size: 20px;

}

.ba {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt2 {
    height: 60px;
    width: 380px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.438);
    background-color: rgba(0, 0, 0, 0.388);
    border-radius: 0.25rem;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.b3,
button:hover {
    cursor: pointer;
}

.b3 {
    align-items: center;
    height: 60px;
    width: 200px;
    display: flex;
    background-color: blue;
    border-radius: 0.25rem;
    z-index: 1;
}

.b4 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    width: 150px;
    background: blue;
    color: white;
    border: none;
}

.sep {
    position: relative;
    z-index: 10;
    align-items: end;
    max-width: 220vh;
    height: 8px;
    background-color: rgb(35, 35, 35);
}

.pp1 {
    height: 80vh;
    max-width: 160vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #ffffff;
}

.l1 {
    font-size: 275%;
    font-weight: 1000;
    line-height: 150%;
}

.l2 {
    font-size: 160%;
    font-weight: 500;
}

.t1 {
    position: relative;
    justify-content: center;
    align-items: end;
    display: flex;
}

.v1 {
    z-index: -1;
    position: absolute;
}

.f1 {
    bottom: 8%;
    height: 24%;
    background: #000;
    position: absolute;
    width: 64%;
    padding: 8px 12px;
    gap: 10px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.47);
    border-radius: 15px;

}

.m {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    display: block;
    width: 65%;
    font-weight: bolder;
    font-size: 100%;
    color: #ffffff;



}


.b1 {
    display: block;
    color: rgb(72, 72, 209);
}

.t2 {

    position: relative;
    justify-content: center;
    display: flex;
}

.v2 {
    display: flex;
    z-index: -1;

    align-items: center;
    position: absolute;
}

.pp2 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    width: 100%;
    align-items: center;
    max-width: 160vh;
    margin: 80px auto;
    display: flex;
    justify-content: center;

}

.w2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    color: #ffffff;
}

.q:hover {
    background-color: rgb(65 65 65);
    cursor: pointer;
}

.q {

    margin: 10px;
    padding: 10px;
    height: 80px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(45 45 45);
    color: white;
}

.qn {

    margin-bottom: 30px;
}

.qs {
    width: 100%;

}

.footer {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    width: 90%;
    max-width: 160vh;
    margin: 50px auto;
    color: rgba(255, 255, 255, 0.7);
    height: 50%;
}

.footer a {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
}

.ft {

    margin: 20px auto;
    gap: 20px;
    max-width: 160vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.last {
    margin-top: 20px;
    margin-bottom: 100%;
}

@media screen and (max-width: 960px) {
    .pp1 {

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;



    }
    .nav{
        height: 83%;
    }

    .nav1 {
        flex-wrap: wrap;
        padding: 25px;
        width: 100%;

    }

    .p1 {
        align-items: center;
        line-height: 1.3;
        height: 125px;
        max-width: calc(100% - 3rem);
        margin: 30px auto 7px auto;
        font-size: 2rem;
        font-weight: 700;
    }

    .logo img {

        width: 5.5625rem;
        height: 1.5rem;

    }

    .btn {
        height: 2rem;
        width: 100px;
        padding-left: 24px;

    }

    .btn-red {
        height: 2rem;
        margin: 0;
    }
    .bt{
        width: 109px;
    }

    .ba {
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .p2 {

        font-size: 1.125rem;
        font-weight: 400;
    }

    .p3 {
        height:15vh;
        width: 72%;
        margin: auto;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .bt2 {
        height: 50px;
        width: 72%;

    }

    .b3 {
        height: 50px;
        width: 150px;

    }
    .l1{
        width: 80%;
        margin: auto;
        font-size: 2rem;
        font-weight: 700;
    }
    .l2{
        width: 70%;
        margin: auto;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .ft {
        grid-template-columns: 1fr 1fr;
    }

    .last {
        height: 20%;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
